{{define "page"}}

  <div class="container mx-auto">
        <h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center">A Super simple photo sharing Website!</h1>
        <p class="mt-6 text-lg text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400">A free, easy to use photo sharing website, which you can use to upload your photos, create albums and share them with family and friends!</p>
    </div>

{{end}}